.remove_hint {
  margin-bottom: 10px;
  margin-right: 582px;
  margin-top: 10px;
}
.show_hint {
  text-transform: uppercase;
  font-size: 15px;
  border: 1px solid #888;
  border-radius: 1ex;
}
.hint_div {
  cursor: pointer
}
.submit_hint {
  margin-left: 20px;
  margin-bottom: 10px;
}
.highlight {
  background-color: green !important;
}
.add_hint {
  margin-top: 10px;
}
.back {
  margin-top: 10px;
}
.list-hint {
  font-size: 15px;
}
.hint_div {
  margin-top: 10px;
}
.save_comment {
  margin-top: 10px;
}
.title-class {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.title_class {
  border: 1px solid #888;
  border-radius: 10px;
  margin-bottom: 10px
}
.title_class span {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -15px;
}
.desc-class {
  margin-left: 17px;
  font-size: 17px;
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.comment-class {
  border: 1px solid #888;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment-class h5 {
  font-size: 20px;
  font-weight: 400;
}
.label_comment {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
.comments_class label {
  font-size: 15px;
  margin-top: 10px;
}
.comments_class span {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.back {
  margin: 10px;
}
.save_comment {
  margin: 10px;
}
.add_comment {
  margin-top: 10px;
  margin-left: 10px;
  width: 98%;
}
.error label {
  color: #a94442;
  font-size: 15px;
}
.like {
  width: 6%;
  margin-left: 20px;
  color: #3b5998;
  background-color: #fff;
}
.dislike {
  width: 6%;
  margin-left: 15px;
  color: #3b5998;
  background-color: #fff;
}
.like-count {
  float: left;
  font-size: 17px;
  font-weight: 400;
  margin-top: 5px;
}
.submit_hint {
  margin-top: 10px;
}
.time {
  text-align: right;
  font-weight: normal;
}
.success {
  margin-top: 10px;
  display: none;
}
.error {
  margin-top: 10px;
  display: none;
}
.delete {
  margin-top: 10px;
  display: none;
}
.check {
  padding: 0 !important
}
.like_comment {
  width: 5%;
  margin-left: 20px;
  border: 0;
  box-shadow: none;
  color: #3b5998 !important;
  background-color: #fff;
}
.like_comment :hover {
  color: #3b5998 !important;
}
.dislike_comment {
  width: 5%;
  margin-left: 20px;
  color: #a94442 !important;
  background-color: #fff;
}
.dislike_comment :hover {
  color: #a94442 !important;
}
.likes {
  margin-top: 0 !important;
}
.font {
  font-weight: normal;
}
.border {
  border: 1px solid #888;
  width: 97%;
  margin-left: 12px;
  border-radius: 10px;
}
.reply_click {
  width: 5%;
  margin-left: -60px;
  color: #3b5998 !important;
  margin-top: 0px;
  background-color: #fff;
}
.reply_click :hover {
  color: #3b5998 !important;
}
.add_reply {
  margin-left: 35px;
  margin-right: 50px
}
.reply {
  margin-bottom: 15px;
  display: none;
}
.reply_section {
  border: 1px solid #888;
  border-radius: 10px;
  margin-left: 50px !important;
  width: 90%;
  margin-bottom: 10px;
}
.submit_reply {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 15px;
  display: none;
  color: #3b5998 !important;
}
.submit_reply :hover {
  color: #3b5998 !important;
}
.success_reply {
  margin-top: 10px;
  display: none;
}
.error_reply {
  margin-top: 10px;
  display: none;
}
.btn:focus, .btn:active {
  border: 0;
  outline: 0
}
.like:focus, .like:active {
  border: 0;
  outline: 0
}
.like :hover {
  color: #3b5998 !important;
}
.dislike :hover {
  color: #3b5998 !important;
}
.dislike:focus, .dislike:active {
  border: 0;
  outline: 0
}
.dislike :hover {
  color: #3b5998 !important;
}
