#urlClass {
  word-wrap: break-word;
}
.remove_hint {
  margin-bottom: 10px;
  margin-right: 582px;
  margin-top: 10px;
}
.load-class {
  margin-left: 550px;
  margin-top: -130px;
  display: none;
}
.show_hint {
  font-size: 20px;
  border: 1px solid #888;
  border-radius: 1ex;
  font-weight: 400;;
}
.hint_div {
  cursor: pointer
}
.info-box {
    position: absolute;
    width: 570px;
    top: 50%;
    background-color: #ffffcc;
    border-color: #fff !important;
    z-index: 99;
    left: 50%;
    margin-left: -285px;
    margin-top: -47px;
}
.link {
  color: #337ab7 !important;
  cursor: pointer;
}
.submit_hint {
  margin-left: 20px;
  margin-bottom: 10px;
}
.highlight {
  background-color: green !important;
}
.add_hint {
  margin-top: 10px;
}
.back {
  margin-top: 10px;
}
.list-hint {
  font-size: 15px;
}
.save_comment {
  margin-top: 10px;
}
.title-class {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.title_class {
  border: 1px solid #888;
  border-radius: 10px;
  margin-bottom: 10px
}
.title_class span {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -15px;
}
.desc-class {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 400;
  text-align: left;
}
.comment-class {
  border: 1px solid #888;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment-class h5 {
  font-size: 20px;
  font-weight: 400;
}
.label_comment {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
.comments_class label {
  font-size: 15px;
  margin-top: 10px;
}
.comments_class span {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.back {
  margin: 10px;
}
.save_comment {
  margin: 10px;
}
.add_comment {
  margin-top: 10px;
  margin-left: 10px;
  width: 98%;
}
.error_class label {
  color: #a94442;
  font-size: 15px;
}
.like {
  width: 6%;
  margin-left: 20px;
  color: #3b5998;
  background-color: #fff;
}
.dislike {
  width: 6%;
  margin-left: 15px;
  color: #3b5998;
  background-color: #fff;
}
.like-count {
  margin-left: 15px;
  font-size: 17px;
  font-weight: 400;
  margin-top: 5px;
}
.submit_hint {
  margin-top: 10px;
}
.time {
  text-align: right;
  font-weight: normal;
}
.success {
  margin-top: 10px;
  display: none;
}
.error {
  margin-top: 10px;
  display: none;
}
.delete {
  margin-top: 10px;
  display: none;
}
.link-tag {
  font-size: 22px;
  font-weight: 300;
  color: #000;
}
.check {
  padding: 0 !important
}
.like_comment {
  width: 5%;
  margin-left: 20px;
  border: 0;
  box-shadow: none;
  color: #3b5998 !important;
  background-color: #fff;
}
.like_comment :hover {
  color: #3b5998 !important;
}
.dislike_comment {
  width: 5%;
  margin-left: 20px;
  color: #a94442 !important;
  background-color: #fff;
}
.dislike_comment :hover {
  color: #a94442 !important;
}
.likes {
  margin-top: 0 !important;
}
.show_button {
  float: right;
  margin-right: 25px;
  width: 15%;
}
.font {
  font-weight: normal;
}
.border {
  border: 1px solid #888;
  width: 97%;
  margin-left: 12px;
  border-radius: 5px;
}
.reply_click {
  width: 5%;
  margin-left: -60px;
  color: #3b5998 !important;
  margin-top: 0px;
  background-color: #fff;
}
.reply_click :hover {
  color: #3b5998 !important;
}
.add_reply {
  margin-left: 35px;
  margin-right: 50px
}
.reply {
  display: none;
  width: 100%;
  margin: inherit;
  margin-left: 25px;
}
.reply_section {
  border: 1px solid #888;
  border-radius: 5px;
  margin-left: 50px !important;
  width: 90%;
  margin-bottom: 10px;
}
.submit_reply {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 15px;
  display: none;
  color: #3b5998 !important;
}
.submit_reply :hover {
  color: #3b5998 !important;
}
.success_reply {
  margin-top: 10px;
  display: none;
}
.error_reply {
  margin-top: 10px;
  display: none;
}
.btn:focus, .btn:active {
  border: 0;
  outline: 0
}
.like:focus, .like:active {
  border: 0;
  outline: 0
}
.like :hover {
  color: #3b5998 !important;
}
.dislike :hover {
  color: #3b5998 !important;
}
.dislike:focus, .dislike:active {
  border: 0;
  outline: 0
}
.dislike :hover {
  color: #3b5998 !important;
}
.delete_click {
  width: 5%;
  color: #a94442 !important;
  margin-top: 0px;
  background-color: #fff;
}
.delete_error {
  margin-top: 1px;
  display: none;
}
.delete_reply {
  width: 5%;
  color: #a94442 !important;
  margin-top: 0px;
  background-color: #fff;
  margin-right: 35px;
  margin-left: -70px;
}
.dislike_reply {
  width: 5%;
  margin-left: 20px;
  color: #a94442 !important;
  background-color: #fff;
}
.like_reply {
  width: 5%;
  margin-left: 20px;
  border: 0;
  box-shadow: none;
  color: #3b5998 !important;
  background-color: #fff;
}
.page h1 {
  font-size: 15px;
  font-weight: 500;
}
.page p {
  font-size: 15px;
  font-weight: 500;
}
.margin-img {
  max-width: 100%;
  height: auto!important;
}
.div-header {
  min-width: 450px;
  max-width: 420px;
  height: auto;
  margin-top: -10px;
  margin-bottom: -15px;
  margin-left: 15px;
}
.sort {color: black;margin: 5px; text-decoration: none;}
/*.header-class {margin-top: 5px; }*/
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.count {
  font-size: 20px;
  font-weight: 400;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.user-details {
  font-size: 17px;
  font-weight: 400;
}
.show_less {
  display: none;
}
.button-section{width: 100%; padding:5px 15px;}
.button-section > *{display: inline-block; vertical-align: middle; margin-right: 10px !important; margin-left: 0px !important; width: auto; height: 34px; padding: 0px; float: none; }
.button-section > label{line-height: 34px; margin: 0 !important; margin-right: 10px !important;}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.gc-reset{
transform:scale(0.95) !important;
-webkit-transform:scale(0.95) !important;
transform-origin:0 0 !important;
-webkit-transform-origin:0 0 !important;
}
.padding0{padding: 0 !important;}
.rowcustom{margin-left: -15px; margin-right: -15px;}
.g-recaptcha{width: 100%;}
.g-recaptcha > * iframe{width:100%;}
@media screen and (max-width: 767px) {
    .reply_click {
        margin-left: 0px;
    }
    .show_hint {
      font-size: 15px;
      border: 1px solid #888;
      border-radius: 1ex;
    }
    .reply_section{margin-left: 30px !important;}
    .delete_reply{margin-left: 0; }
    .time{padding: 0;}
    .submit_reply{width: 50%}
    .reply{margin-left: 0; width: 100%;margin-bottom: 10px;}
    .add_comment{width: 90%;}
    .show_more{
      width: 50%;
      margin-bottom: 10px;
      margin-right: 0;
    }
    .info-box {
      position: absolute;
      border-color: #fff !important;
      width: 90%;
      left: 5%;
      top: 15%;
      background-color: #ffffcc; margin: 0px;
    }
}
@media screen and (max-width: 1000px) {
  .div-header {display: none;}
}
