// Copyright 2015 Kjetil Thuen
// Distributed under the GPLv3

template(name="ActivitiesChart")
  div(id='container-#{chart_id}')
    svg(id='#{chart_id}' viewBox="0 0 1000 300" width="100%" class="#{waiting}")
    unless ready
      p
        i.fa.fa-cog.fa-spin
        span {{_ "text_loading"}}
