template(name="AddHintUser")
   h3 Add Hint
   div.success.alert.alert-success
     label Your hint has been saved successfully
   div.error.alert.alert-warning
     label Error while saving your hint. Please try again.
   div.row
   | Title
   input.hint.form-control(type="text" placeholder="Enter hint")
   | Description
   textarea.hint_val.get.form-control(type="text" placeholder="Enter description")
   button.btn.btn-success.back.pull-left(type='button')
    i.fa.fa-arrow-left {{_ ' Back'}}
   button.btn.btn-success.add_hint.pull-right(type='button')
    i.fa.fa-paper-plane {{_ ' Submit'}}
