template(name="AddHintUser")
   h3 Add Hint
   | Title
   input.hint.form-control(type="text" placeholder="Enter hint")
   | Description
   input.hint_val.get.form-control(type="text" placeholder="Enter description")
   div.row
     button.btn.btn-success.back.pull-left(type='button')
      i.fa.fa-arrow-left {{_ ' Back'}}
     button.btn.btn-success.add_hint.pull-right(type='button')
      i.fa.fa-paper-plane {{_ ' Submit'}}
   div.error(style="display:none")
    label Please fill all fields first.
