template(name="Dashboard")
  div
    div.container-fluid
    //  div.col-sm-12.col-md-12.form-group
        label The Night is Dark and full of Theories
        input.form-control(type="text" placeholder="Search...")
      div.row
        div.col-sm-4
          a.dashlinks#trending(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/trending.svg")
            span Trending
        div.col-sm-4
          a.dashlinks#newArrivals(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/new-arrival.svg")
            span New Arrivals
        div.col-sm-4
          a.dashlinks#power(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/power.svg")
            span Power
        div.col-sm-4
          a.dashlinks#prophecies(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/prophecies.svg")
            span Prophecies
        div.col-sm-4
          a.dashlinks#endGame(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/end-game.svg")
            span End Game
        div.col-sm-4
          a.dashlinks#magic(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/magic.svg")
            span Magic
        div.col-sm-4
          a.dashlinks#houses(href="javascript:void(0)")
            span.linkicon
              img( alt="" src="/houses.svg")
            span Houses
