template(name="NewsDisplay")
  div.news-border
    if user
      h2.feed-title NEWS FEED
      each newsFeed
        if displayType type contract
          each contractset link
            div.col-sm-12.fedd-border.contractset-news
              div
                h3.title
                  span.news-header {{filterUntranslatedText title}}
              div
                table.contractsnippets
                  each Contracts _id
                    tr
                      +ContractSnippet
                button.btn.btn-primary.redirect.pull-right(id=market_id data-id=_id value="{{checkCategory category}}")
                  i.fa.fa-exchange
                  span {{_ 'button_change_prices'}}
        if insta type 'instagram Post'
          div.col-sm-12.feed-border
            iframe.border(height= "300" width="100%" src="{{link}}embed")
        if twitter type 'twitter Post'
          div.col-sm-12.feed-border
            iframe.border(width="100%" height= "300" src="http://twitframe.com/show?url={{link}}")
        if facebook type facebook
          div.col-sm-12.feed-border
            iframe.border(src="{{link}}" width="100%" height="300")
        if youtube type 'youtube Post'
          div.col-sm-12.feed-border
            iframe.border(width="100%" height= "300" src="{{link}}" allowfullscreen)
        if hint type hint
          div.col-sm-12.feed-border#go(data-name=typeofHint data-value=link)
            span.hint-feed.show_hint.border {{link}}
        if reddit type 'reddit Post'
          div.col-sm-12.feed-border
            div.reddit-in-margin
              | {{{link}}}
