template(name="SubmitTheory")
  h3 Submit your own theory
  div.success.alert.alert-success
    label Your hint has been saved successfully
  div.error.alert.alert-warning
    label Error while saving your hint. Please try again.
  div.error_class.alert_warning
    label Please fill all fields
  div.row
    div.form-group
      label Enter theory title *
      input.col-sm-12.form-control.title(type="text" placeholder="Enter theory title")
    div.form-group
      label Enter Description *
      textarea.col-sm-12.form-control.desc(type="text" placeholder="Enter theory description")
    button.btn.btn-success.back.pull-left(type='button')
     i.fa.fa-arrow-left {{_ ' Back'}}
    button.btn.btn-success.add_theory.pull-right(type='button')
     i.fa.fa-paper-plane {{_ ' Submit'}}
