template(name="showTheory")
  p If you can't find your theory or possible storyline outcome on the market or in the user submitted theories below, hand it in via the submit my theory button.
  p If you build a strong enough case and the community backs your argument, the theory or storyline outcome makes its way to the official market and you get an additional 40'000 fictional dollars added to your cash account.
  p If you recite an already existing theory you'll get 5'000 fictional dollars added to your cash account.
  div.container.show_text
    p Please add a reference to the original theory post for the theory to be listed in the user submitted theories.
    p If you adapt an already existing theory, also add a reference to the original theory post and you'll get 20'000 fictional dollars added to your cash account.
    p In all cases, the community has to approve your submission by liking and/or engaging with your theory in its comment section for you to get the additional cash amount.
    p The exact amount of likes or engagement needed for a theory to be added to the official market has yet to be decided.
  button.btn.btn-success.display_text.pull-right.text_button(type='button')
   i.fa.fa-ellipsis-h {{_ ' Show More'}}
  button.btn.btn-success.show_text.pull-right.text_button(type='button')
   i.fa.fa-ellipsis-h {{_ ' Show Less'}}
  button.btn.btn-success.submit_theory(type='button')
   i.fa.fa-paper-plane {{_ ' Submit My Theory'}}
  each theory
   div.theory_div.panel-footer.clearfix
     span.show_theory.col-md-12(id=_id) {{{url title}}}
       span.pull-right.count {{count}}
