template(name="showTheory")
  p If you have a theory in mind that is not already on the market or among the user-submitted theories below, share it via the ‘Submit My Theory’ button and get paid according to the novelty of your theory.
  p.add_space If you craft a totally new theory and can build a strong-enough argument that garners the community’s support, it will be put on the market and an additional 40’000 fictional dollars will be added to your cash account.
  div.container.show_text
    p You can also submit theories that are not novel or your own if they don’t already exist on the market or in the user theories below.
    p.add_space If the community backs your argument, you'll get 5’000 for citing an already-existing theory, or 20’000 for adapting one.
    p.add_space In either case, please reference the original theory post for it to be published in the ‘User Theories’ section.
    p.add_space After its publication, the community has to approve your submission as well as its novelty by liking and engaging with your
    p.add_space theory in its comment section for you to get the additional cash amount.
    p.add_space The amount of likes or engagement needed for a theory to be added to the official market has yet to be decided.
  a.display_text.pull-right.text_button(href="javascript:void(0)") {{_ ' Show More'}}
   i.fa.fa-arrow-right
  a.show_text.pull-right.text_button_less(href="javascript:void(0)") {{_ ' Show Less'}}
   i.fa.fa-arrow-left
  button.btn.btn-success.submit_theory(type='button')
   i.fa.fa-paper-plane {{_ ' Submit My Theory'}}
  each theory
   div.theory_div.panel-footer.clearfix
     span.show_theory.col-md-12(id=_id) {{{url title}}}
       span.pull-right.count {{count}}
