template(name="CommentSection")
  div.container-fluid
    div.row
      h3.col-md-8.title-class {{hints.hint}}
      button.col-md-2.like(type='button' id=hints.id)
       i.fa.fa-thumbs-up
      span.like-count {{totalLikes}}
      button.col-md-2.dislike(type='button' id=hints.id)
       i.fa.fa-thumbs-down
    div.row.title_class
      span.col-md-12 Explaination
      h4.col-md-12.desc-class {{hints.desc}}
    span.label_comment Comments
    each comment in comments
      div.row.comments_class
        label.col-md-6
          {{comment.user.name}}
        label.col-md-6
          {{formattedDate (comment.user.commentedOn)}}
        span.col-md-12 {{comment.comment}}
    div.row.comment-class
      textarea.form-control.col-md-12.add_comment(type="text" placeholder="Enter Comment")
      button.btn.btn-success.pull-left.back(type='button')
       i.fa.fa-arrow-left {{_ ' Back'}}
      button.btn.btn-success.pull-right.save_comment(type='button' id=hints.id)
       i.fa.fa-paper-plane {{_ ' Submit'}}
    div.error(style="display:none")
     label Please enter comments first.
