template(name="showTheory")
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.
  button.btn.btn-success.submit_theory(type='button')
   i.fa.fa-paper-plane {{_ ' Submit Own Theory'}}
  each theory
   div.theory_div.panel-footer.clearfix
     span.show_theory.col-md-12(id=_id) {{{url title}}}
       span.pull-right.count {{count}}
