template(name="AddCategory")
  | Category
  select.selectpicker.form-control(id=_id)
    option Trending
    option New Arrivals
    option Power
    option Prophecies
    option End Game
    option Magic
    option Houses
