template(name="AddCategory")
  | Category
  select.selectpicker.form-control.form-group(id=_id)
    option(value="Trending" selected="{{select 'Trending' category }}") Trending
    option(value="New Arrivals" selected="{{select 'New Arrivals' category }}") New Arrivals
    option(value="Power" selected="{{select 'Power' category }}") Power
    option(value="Prophecies" selected="{{select 'Prophecies' category }}") Prophecies
    option(value="End Game" selected="{{select 'End Game' category }}") End Game
    option(value="Magic" selected="{{select 'Magic' category }}") Magic
    option(value="Houses" selected="{{select 'Houses' category }}") Houses
