template(name='EditHint')
  | Hint
  input.hint.form-control(type="text" name="hint" value=hint.hint)
  | Hint Description
  textarea.hint_val.get.form-control(type="text" name="desc") {{hint.desc}}
  button.btn.btn-success.back.pull-left(type='button')
   i.fa.fa-arrow-left {{_ ' Back'}}
  button.btn.btn-success.submit_hint.pull-right(type='button' id=hint.contract_id value=hint.id)
   i.fa.fa-paper-plane {{_ 'Submit'}}
