template(name='EditTheory')
  | Theory
  input.theory.form-control(type="text" name="hint" value=theory.title)
  | Theory Description
  textarea.theory_val.get.form-control(type="text" name="desc") {{theory.desc}}
  button.btn.btn-success.back.pull-left(type='button')
   i.fa.fa-arrow-left {{_ ' Back'}}
  button.btn.btn-success.submit_theory.pull-right(type='button' id=theory._id)
   i.fa.fa-paper-plane {{_ 'Submit'}}
