template(name="NewsFeed")
  div.success.link-add.alert.alert-success
   label Your link has been saved successfully
  div.error.alert.alert-warning
   label Please fill the input field first
  div.row
    div.dropdown.logout-class
      button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Select Type
        span.caret
      ul.dropdown-menu
        div.row
          button.dropdown-item.col-sm-10(value="contract") Contract
        div.row
          button.dropdown-item.col-sm-10(value="facebook") Facebook
        div.row
          button.dropdown-item.col-sm-10(value="hint") Hint
        div.row
          button.dropdown-item.col-sm-10(value="instagram Post") Instagram Post
        div.row
          button.dropdown-item.col-sm-10(value="twitter Post") Twitter Post
        div.row
          button.dropdown-item.col-sm-10(value="youtube Post") Youtube Post
        div.row
          button.dropdown-item.col-sm-10(value="reddit Post") Reddit Post
    if contract
      div.row.display
        input.form-control.col-sm-12.val(type="text" placeholder="Set Contract Title...")
    if hint
      span Hint
      input.hint.form-control(type="text" name="hint title")
      span Type
      input.form-control.val(type="text" name="hint type")
    if facebook
      div.display.row
        input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
    if instagram
      div.display.row
        input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
    if twitter
      div.display.row
        input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
    if youtube
      div.display.row
        input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
    if reddit
      div.display.row
        input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
    button.btn.btn-success.pull-right.display.submit(type="button")
      i.fa.fa-paper-plane {{_ " Submit"}}
  div.error_new.alert_warning.alert
   label Error while saving your response
  div.delete.alert.alert-success
   label News Feed disapproved successfully
  div.success.feed-approve.alert.alert-success
   label News Feed approved successfully
  div.row
    h3 News Feed List
    table.table.table-bordered
      thead
        tr
          th(width="15%") Type
          th(width="50%") Link
          th Added On
          th(width="10%") Action
      tbody
        each newsFeed
          tr
            td
              p.hint_div(title="{{type}}") {{type}}
            td
              p.hint_div(title="{{link}}") {{{url link}}}
            td
              p.hint_div(title="{{format added}}") {{format added}}
            td
              if buttonCheck active true
                button.btn.btn-success.approve_feed(type='button' id=_id)
                  i.fa.fa-check.check
              else
                button.btn.btn-danger.delete_feed(type='button' id=_id)
                  i.fa.fa-trash-o.check
