template(name="NewsFeed")
  div.success.alert.alert-success
   label Your link has been saved successfully
  div.error.alert.alert-warning
   label Please fill the input field first
  div.dropdown.logout-class
    button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Select Type
      span.caret
    ul.dropdown-menu
      div.row
        button.dropdown-item.col-sm-10(value="contract") Contract
      div.row
        button.dropdown-item.col-sm-10(value="facebook") Facebook
      div.row
        button.dropdown-item.col-sm-10(value="hint") Hint
      div.row
        button.dropdown-item.col-sm-10(value="instagram Post") Instagram Post
      div.row
        button.dropdown-item.col-sm-10(value="twitter Post") Twitter Post
      div.row
        button.dropdown-item.col-sm-10(value="youtube Post") Youtube Post
  if contract
    div.row.display
      input.form-control.col-sm-12.val(type="text" placeholder="Set Contract Title...")
  if hint
    span Hint
    input.hint.form-control(type="text" name="hint title")
    span Type
    input.form-control.val(type="text" name="hint type")
  if facebook
    div.display.row
      input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
  if instagram
    div.display.row
      input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
  if twitter
    div.display.row
      input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
  if youtube
    div.display.row
      input.form-control.col-sm-12.val(type="text" placeholder="Enter post link...")
  button.btn.btn-success.pull-right.display.submit(type="button")
    i.fa.fa-paper-plane {{_ " Submit"}}
