template(name="ListHints")
  table.table.table-bordered
    thead
      tr
        th Contract Name
        th Date
        th Hint Title
        th Hint Description
        th Action
    tbody
      each hints
        tr
          th {{title}}
          th {{formattedDate date}}
          th {{hint}}
          th {{desc}}
          th
            button.btn-success.approve_hint(type='button' id=contract_id value=id)
             i.fa.fa-check
            button.btn-danger.delete_hint(type='button' id=contract_id value=id)
             i.fa.fa-trash-o
