template(name="ListTheory")
  h3 User Theory List
  div.success.alert.alert-success
   label Theory approved successfully
  div.delete.alert.alert-success
   label Theory deleted successfully
  div.error_new.alert_warning.alert
   label Error while saving your response
  table.table.table-bordered
    thead
      tr
        th(width="10%") Username
        th(width="20%") Theory Title
        th(width="40%") Theory Description
        th(width="15%") Theory Creation Date
        th(width="15%") Action
    tbody
      each theory
        tr
          td
            p.hint_div(title="{{username}}") {{username}}
          td
            p.hint_div(title="{{{url title}}}") {{{url title}}}
          td
            p.hint_div(title="{{{url desc}}}") {{{url desc}}}
          td
            p.hint_div(title="{{format addedOn}}") {{format addedOn}}
          td
            if buttonCheck approved false
              button.btn.btn-success.approve_theory(type='button' id=_id)
                i.fa.fa-check.check
            button.btn.btn-info.edit_theory(type='button' id=_id)
              i.fa.fa-pencil.check
            button.btn.btn-danger.delete_theory(type='button' id=_id)
              i.fa.fa-trash-o.check
