template(name="ListHints")
  h3 User Hints List
  table.table.table-bordered
    thead
      tr
        th Contract Name
        th Date
        th Hint Title
        th Hint Description
        th Action
    tbody
      each hints
        tr
          td {{title}}
          td {{formattedDate date}}
          td {{hint}}
          td {{desc}}
          td
            button.btn.btn-success.approve_hint(type='button' id=contract_id value=id)
              i.fa.fa-check.check
            button.btn.btn-danger.delete_hint(type='button' id=contract_id value=id)
             i.fa.fa-trash-o.check
