template(name="ListHints")
  table.table
    thead
      tr
        th  Title
        th  Description
        th  Approve
        th  Disapprove
    tbody
      each hints
        tr
          th {{hint}}
          th {{desc}}
          th
            button.btn.btn-info.approve_hint(type='button' id=contract_id value=id)
             i.fa.fa-check
          th
            button.btn.btn-danger.delete_hint(type='button' id=contract_id value=id)
             i.fa.fa-trash-o
