template(name="ListComment")
  h3 User Comments List
  div.delete.alert.alert-success
   label You have deleted user comment successfully
  div.error.alert.alert-warning
   label Error while saving your response. Please try again
  table.table.table-bordered
    thead
      tr
        th(width="10%") Commented By
        th Date
        th Hint
        th(width="40%") Comment
        th(width="10%") Delete
    tbody
      each comments
        tr
          td
            p.hint_div(title="{{user.name}}") {{user.name}}
          td
            p.hint_div(title="{{formattedDate user.commentedOn}}") {{formattedDate user.commentedOn}}
          td
            p.hint_div(title="{{hint hint_id}}") {{hint hint_id}}
          td
            p.hint_div(title="{{{url comment}}}") {{{url comment}}}
          td
            button.btn.btn-danger.delete_comment(type='button' id=_id)
              i.fa.fa-trash-o.check
