template(name="ListTheory")
  h3 User Theory List
  div.success.alert.alert-success
   label Theory approved successfully
  div.delete.alert.alert-success
   label Theory deleted successfully
  div.error_new.alert_warning.alert
   label Error while saving your response
  table.table.table-bordered
    thead
      tr
        th Username
        th Theory Title
        th Theory Description
        th Theory Creation Date
        th Action
    tbody
      each theory
        tr
          td {{username}}
          td {{{url title}}}
          td.wide {{{url desc}}}
          td {{format addedOn}}
          td
            if buttonCheck approved false
              button.btn.btn-success.approve_theory(type='button' id=_id)
                i.fa.fa-check.check
            button.btn.btn-info.edit_theory(type='button' id=_id)
              i.fa.fa-pencil.check
            button.btn.btn-danger.delete_theory(type='button' id=_id)
              i.fa.fa-trash-o.check
