template(name="ListComment")
  h3 User Comments List
  div.success.alert.alert-success
   label You have approved user hint successfully
  div.delete.alert.alert-success
   label You have deleted user hint successfully
  div.error.alert.alert-warning
   label Error while saving your response. Please try again
  table.table.table-bordered
    thead
      tr
        th Commented By
        th Date
        th Hint
        th Comment
        th Delete
    tbody
      each comments
        tr
          td {{user.name}}
          td {{formattedDate user.commentedOn}}
          td {{hint hint_id}}
          td.wide {{{url comment}}}
          td
            button.btn.btn-danger.delete_comment(type='button' id=_id)
              i.fa.fa-trash-o.check
