// Copyright 2015 Kjetil Thuen
// Distributed under the GPLv3

template(name='DialogLayout')
  div#dialog.wrapper
    div.container-fluid.landing-logo.remove-class
      +yield
      div#errors_list
        +meteorErrors
