// Copyright 2015 Kjetil Thuen
// Distributed under the GPLv3

template(name='Login')
  div.container.nopadm
    div.form-panel
     div.logo-landing
      h1
        img.img-responsive(alt="Game of Predictions" src="/logo.png")
     div.form-bg
       ul.nav.navtab.row(role="tablist")
         li.active.col-xs-6(role="presentation")
           a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Login
         li.col-xs-6(role="presentation")
           a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Register
       div.tab-content
         div.tab-pane.active#home(role="tabpanel")
           form.form-horizontal
            div.form-group
               div.col-sm-12
                input.form-control.login-username(type="text" placeholder="Username")
            div.form-group
               div.col-sm-12
                input.form-control.login-password(type="password" placeholder="Password")
            div.form-group
              div.col-xs-6.forgotpass
                a(href="#") Forgot password?
              div.col-xs-6.btnlogin
                button.btn.btn-primary#log_in Login
            div.form-group
              div.or
                span or
            div.form-group
              div.col-xs-6.fbtn
                button.btn.btn-info
                  i.fa.fa-facebook
                  {{_ 'Login'}}
                  span {{_ 'with Facebook'}}
              div.col-xs-6.gbtn
                button.btn.btn-danger
                  i.fa.fa-google-plus
                  {{_ 'Login '}}
                  span {{_ 'with Google'}}
         div.tab-pane(role="tabpanel" id="profile")
           form.form-horizontal
            div.form-group
               div.col-sm-12
                 input.form-control.register-username(type="text" placeholder="Username")
            div.form-group
               div.col-sm-12
                 input.form-control.register-email(type="email" placeholder="Email")
            div.form-group
               div.col-sm-12
                {{> reCAPTCHA}}
            div.form-group
              div.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.btnlogin
                button.btn.btn-primary#create_user Create User
            div.form-group
              div.or
                span or
            div.form-group
              div.col-xs-6.fbtn
                button.btn.btn-info
                  i.fa.fa-facebook
                   Signup span with Facebook
              div.col-xs-6.gbtn
                button.btn.btn-danger
                  i.fa.fa-google-plus
                   Signup span with Google
    div.arrow
     i.fa.fa-angle-down.arrow-down
  div.white-container
    div.container.text-center
      h3.sub-title {{_ 'Welcome to the Game of Predictions, the world’s first interactive Game of Thrones prediction market.'}}
      p {{_ 'Sign up for free and put your knowledge and insight about the greatest fantasy saga to the test!'}}
      p {{_ 'Join a community of fellow fans and trade for or against possible storyline outcomes as well as fan theories about the heroes and villains you either love or love to hate.'}}
      p {{_ 'We’re a non-commercial, fan-engagement platform and believe that active media consumers not only want to discuss their theories and assumptions, but also quantify them to actually make predictions about the course of their favorite narrative.'}}
      p {{_ 'Register above, check the ‘How it works’ page and start playing the Game of Predictions!'}}
      p {{_ 'Thank you for your participation. Wishing you much success on the market!'}}
      div.col-md-12
       ul.social-network.social-circle
         li
           a.icoFacebook#urlClass(href="https://m.facebook.com/GOPredictions/" title="Facebook")
             i.fa.fa-facebook
         li
           a.icoTwitter(href="#" title="Twitter")
             i.fa.fa-twitter
      div.col-sm-12.contactemail
        a(href="mailto:contact@gameofpredictions.org") contact@gameofpredictions.org
